*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
	--color-text: #fff;
	--color-bg: #a98b9a;
	--color-link: #fff;
	--color-link-hover: #fff;
	--padding-page: 2rem;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: "forma-djr-micro",-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
	overflow-x: hidden;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

.frame {
	z-index: 1000;
	position: fixed;
	width: 100%;
	padding: var(--padding-page);
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 'title' 'prev' 'sponsor';
	grid-gap: 0.5rem;
	justify-items: start;
	align-self: start;
	justify-self: start;
	pointer-events: none;
	align-items: center;
}

.loading .frame {
	opacity: 0;
}

body #cdawrap {
    justify-self: start;
}

.frame a {
	pointer-events: auto;
}

.frame a:not(.frame__title-back) {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.frame a:not(.frame__title-back)::before {
	content: '';
	height: 1px;
	width: 100%;
	background: currentColor;
	position: absolute;
	top: 90%;
	transition: transform 0.3s;
	transform-origin: 0% 50%;
}

.frame a:not(.frame__title-back):hover::before {
	transform: scaleX(0);
	transform-origin: 100% 50%;
}

.frame__title {
	grid-area: title;
	display: flex;
}

.frame__title-main {
	font-size: inherit;
	margin: 0;
	font-weight: inherit;
}

.frame__title-back {
	position: relative;
	display: flex;
	align-items: flex-end;
	margin-bottom: 0.15rem;
}

.frame__title-back span {
	display: none;
}

.frame__title-back svg {
	fill: currentColor;
}

.frame__prev {
	grid-area: prev;
}

.deco {
	position: fixed;
	stroke: #fff;
	stroke-width: 1px;
	top: var(--padding-page);
	right: var(--padding-page);
	z-index: 900;
	pointer-events: none;
	fill: none;
	height: 150px;
	width: 150px;
}

.content {
	display: grid;
	grid-template-rows: 100vh 1fr auto;
	grid-template-columns: 100%;
	width: 100vw;
	--imgRatio: 1344 / 896;
	height: calc(var(--imgRatio) * 100vw);
	padding: 0 var(--padding-page);
	position: relative;
}

.canvas-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: 50% 50%;
	background-size: cover;
	opacity: 0;
}

.no-js .canvas-wrap {
	opacity: 1;
}

.content__inner {
	position: relative;
	justify-self: end;
	align-self: end;
	padding-bottom: var(--padding-page);
}

.next {
	align-self: auto;
}

.end {
	align-self: center;
}

h2 {
	position: relative;
	font-size: 10vw;
	font-weight: 400;
	text-align: right;
	margin: 0;
	line-height: 0.8;
}

p {
	position: relative;
	grid-area: content;
	margin: 1rem 0 0 auto;
	text-align: right;
	max-width: 400px;
	justify-self: end;
}

h2 span:nth-child(even) {
	font-size: 10.5vw;
	font-family: "lores-9-plus-wide", sans-serif;
}

@media screen and (min-width: 53em) {
	.frame {
		height: 100vh;
		grid-template-columns: auto auto 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: 'title prev ...' 'sponsor sponsor ...';
		align-content: space-between;
		justify-items: start;
		grid-gap: 2rem;
	}
	.frame__demos {
		justify-self: end;
	}
}

body {
  margin: 0;
  padding: 0;
  background: #acb;
}
body .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bear {
  width: 240px;
  -webkit-animation: updown 2s infinite alternate;
  animation: updown 2s infinite alternate;
}
.bear__ears {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-animation: updown 2s infinite alternate;
  animation: updown 2s infinite alternate;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
.bear__ears .ear {
  width: 50px;
  height: 60px;
  background: #000;
}
.bear__ears__left {
  -webkit-border-radius: 50% 100%;
  border-radius: 50% 100%;
}
.bear__ears__right {
  -webkit-border-radius: 100% 50%;
  border-radius: 100% 50%;
}
.bear__body {
  width: 100%;
  height: 230px;
  background: #000;
  -webkit-border-radius: 50%/40% 40% 60% 60%;
  border-radius: 50%/40% 40% 60% 60%;
}
.bear__eyes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.bear__eyes .eye {
  width: 20px;
  background: #fff;
  height: 15px;
  position: absolute;
  -webkit-border-radius: 50%/40% 40% 60% 60%;
  border-radius: 50%/40% 40% 60% 60%;
  -webkit-animation: blink 0.5s infinite alternate;
  animation: blink 0.5s infinite alternate;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bear__eyes--left {
  left: 50px;
  -webkit-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
}
.bear__eyes--right {
  right: 50px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
}
.bear__nose {
  width: 80px;
  background: #fff;
  height: 100px;
  margin: auto;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-border-radius: 50%/60% 60% 30% 30%;
  border-radius: 50%/60% 60% 30% 30%;
  position: relative;
  -webkit-animation: moveNose 3s infinite;
  animation: moveNose 3s infinite;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.bear__nose--inner {
  width: 50px;
  height: 26px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%/40% 40% 60% 60%;
  border-radius: 50%/40% 40% 60% 60%;
  -webkit-animation: flip 0.5s infinite alternate;
  animation: flip 0.5s infinite alternate;
}
.bear__nose--inner:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #000;
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-box-shadow: 20px 5px 0 #fff, -20px 5px 0 #fff;
  box-shadow: 20px 5px 0 #fff, -20px 5px 0 #fff;
}

.shadow {
  width: 200px;
  height: 30px;
  margin: auto;
  margin-top: -20px;
  background: #000;
  opacity: 0.6;
  display: block;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-filter: blur(17px);
  filter: blur(17px);
  -webkit-animation: shadow 2s infinite alternate;
  animation: shadow 2s infinite alternate;
}

@-webkit-keyframes updown {
  to {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}
@keyframes updown {
  to {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}
@-webkit-keyframes blink {
  from {
    height: 0;
  }
  to {
    height: 15px;
  }
}
@keyframes blink {
  from {
    height: 0;
  }
  to {
    height: 15px;
  }
}
@-webkit-keyframes moveNose {
  0%, 100%, 90% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  20%, 30% {
    -webkit-transform: translate(20px, 60px);
    transform: translate(20px, 60px);
  }
  60%, 70% {
    -webkit-transform: translate(-20px, 60px);
    transform: translate(-20px, 60px);
  }
}
@keyframes moveNose {
  0%, 100%, 90% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  20%, 30% {
    -webkit-transform: translate(20px, 60px);
    transform: translate(20px, 60px);
  }
  60%, 70% {
    -webkit-transform: translate(-20px, 60px);
    transform: translate(-20px, 60px);
  }
}
@-webkit-keyframes shadow {
  from {
    width: 200px;
  }
  to {
    width: 150px;
  }
}
@keyframes shadow {
  from {
    width: 200px;
  }
  to {
    width: 150px;
  }
}
